@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h2 {
	font: bold 2em monospace;
  color: white;
	border-right: .1em solid black;
	width: calc(0.55em * 14);
	width: 30ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(30, end),
	           blink-caret .3s step-end infinite alternate;
}

.my-skills{
  font-size: 30px;
  font: 2em monospace;
  font: arial;
  color: white;
  text-align: left;
  margin-left: 2em;
}

.welcome{
  margin: 12vh;
  color:white;
  font-size: 30px;
  	font: bold 2em monospace;
}


  .zarela-pic{
    /*border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;*/
    border-radius: 50% 50%;
    margin: 8vh;
    /*position: fixed;*/
    z-index: -1;
    /*top: 50%;
    left: 50%;*/
    /*margin-top: -100px;
    margin-left: -100px;*/
    /*transform: translate(-50%, -50%);*/
  }

h5{
  align-items: center;
  color:white;
}

.brand-logo{
  margin-left: 20px;
}
@mixin parallax {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

html, body {
  height: 100%;
  width: 100%;
}

.nav-bar{
    position: fixed;
}

/* vertical-centered image */
.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  @include parallax;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/f2/9f/c0/f29fc0daafd3d930c97771ad5683ef8b.jpg')
}

#gigs {
  background: url('https://dl.dropboxusercontent.com/u/50943129/SAN-FRAN-BLACK-AND-WHITE.jpg') no-repeat center center fixed;
  @include parallax;
  height: 800px; /* overwrites the default parallax height */
}

#discography-layover {
  background: url('https://dl.dropboxusercontent.com/u/50943129/codepen/Arctic-Monkeys-2009-Humbug-Shot-Wallpaper-679x452.jpg') no-repeat center center fixed;
  @include parallax;
  height: 400px;
}

h1, h3, .navbar {
  font-family: 'Montserrat', sans-serif;
}
#discography {
  color: #ffffff;
}
#discography .featurette-divider {
  color: #fff;
}
#gigs .panel {
  opacity: 0.8;
}
.pad-md {
  padding: 50px 0;
}
#gigs h2 {
  color: #fff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer{
	background-color: #222;
  color: white;
	text-align: center;
  padding: 1em;
  font-size: 16px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}


/*Tags for skills*/
