@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.nav-bar{
  position: fixed;
}

h2 {
	font: bold 2em monospace;
  color: white;
	border-right: .1em solid black;
	width: calc(0.55em * 14);
	width: 30ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(30, end),
	blink-caret .3s step-end infinite alternate;
}

h4{
font: bold 2em monospace;
color: #558b2f;
}

p{
 font-family: 'Quicksand', sans-serif;
 /*font-family: 'Cutive Mono', monospace;*/
 color:white;
 font-size: 20px;
}

.btn{
  border-radius: 50px;
  margin: 1em;
  box-shadow: 5px 5px 5px black;
  background-color: #558b2f;
}

.email{
  /*color: #4DB6AC;*/
  color: #558b2f;
}

.email-text{
  margin: auto;
  padding:1em;
}

.brand-logo{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 60px;
  font: bold 2em monospace;
  color: white;
}

.welcome{
  margin: 12vh;
  color:white;
  font-size: 30px;
  font: bold 2em monospace;
  padding-top: 2em;
}

.my-skills{
  font-size: 30px;
  font: 2em monospace;
  color: white;
  text-align: left;
  margin-left: 2em;
}

.zarela-pic{
  border-radius: 50% 50%;
  margin: 6vh;
  z-index: -1;
}

.brand-statement{
  font: bold 2em monospace;
  color: white;
  font: 2em;
}

.work{
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
}

.contact{
  padding-top: 10em;
}

/*.default-text{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}*/

@mixin parallax {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

html, body {
  height: 100%;
  width: 100%;
}

.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  @include parallax;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/f2/9f/c0/f29fc0daafd3d930c97771ad5683ef8b.jpg')
}

#gigs {
  background: url('https://dl.dropboxusercontent.com/u/50943129/SAN-FRAN-BLACK-AND-WHITE.jpg') no-repeat center center fixed;
  @include parallax;
  height: 800px; /* overwrites the default parallax height */
}

#discography-layover {
  background: url('http://i.imgur.com/dNKiGzq.png') no-repeat center center fixed;
  @include parallax;
  height: 600px;
  border-radius: 15px;
  border: white 11px;
  box-shadow: 0 10px #grey;
  margin-left: 60px;
}

#discography .featurette-divider {
  color: #fff;
}

.pad-md {
  padding: 50px 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer{
	background-color: #222;
  color: white;
	text-align: center;
  padding: 1em;
  font-size: 16px;
  position: fixed;
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  left: 0;
  margin-top:2em;
  padding: 1rem;
  z-index: +1;
}

.empty{
  height: 80px;
}
