@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 40% { border-color: transparent; } }

.nav-bar, .tabs{
  position: fixed;
  font-family: 'Nunito', sans-serif;
  z-index: +2;
  border-spacing: 2em;
}

.tab{
  background-color: #558b2f;
  border-radius: 15px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav{
 z-index: +2;
}


h2{
	font: bold 2em monospace;
  color: white;
  border-right: .1em solid white;
	width: calc(0.55em * 14);
	width: 20ch;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 3s steps(20, end),
	blink-caret .3s step-end infinite alternate;
}

h3{
  font-weight: bolder;
  letter-spacing: .1rem;
}

h4{
font: bold 2em monospace;
color: #558b2f;
}

p{
 font-family: 'Quicksand', sans-serif;
 color:white;
 font-size: 20px;
}

.btn{
  border-radius: 50px;
  margin: 1em;
  box-shadow: 5px 5px 5px black;
  background-color: #558b2f;
}

.email{
  color: #558b2f;
}

.email-text{
  margin: auto;
  padding:1em;
}

.brand-logo{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 60px;
  font: bold 2em monospace;
  color: white;
}

.welcome{
  color:white;
  font: bold 2em monospace;
  text-align: center;
}

.my-skills{
  font-size: 26px;
  font: 2em monospace;
  color: white;
  text-align: left;
  margin: 1.5em;
}

span{
  white-space:pre-wrap;
  word-wrap:break-word;
}

.zarela-pic{
  border-radius: 50% 50%;
  z-index: -1;
}

.brand-statement{
  font: bold 2em monospace;
  color: white;
  font: 2em;
}

.work{
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
}

img{
  box-sizing: border-box;
  float: none;
  max-width: 100%;
}

.contact{
  padding-top: 10em;
}


html, body {
  height: 100%;
}

.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/f2/9f/c0/f29fc0daafd3d930c97771ad5683ef8b.jpg')
}

#discography-layover {
  background: url('http://i.imgur.com/dNKiGzq.png') no-repeat center center fixed;
  @include parallax;
  height: 150px;
  border-radius: 15px;
  border: white 11px;
  box-shadow: 0 10px #grey;
  margin-left: 60px;
}

body {
  display: table;
  width: 100%;
  height: 100%;
}

main {
  flex: 1 0 auto;
  height: auto;
}

footer{
	background-color: #222;
  color: white;
	text-align: center;
  padding: 1em;
  font-size: 16px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 1px;
}

.empty{
  height: 100px;
}

header, footer {
  display: table-row;
}
