
@mixin parallax {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

html, body {
  height: 100%;
  width: 100%;
}

.nav-bar{
    position: fixed;
}

/* vertical-centered image */
.center-image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  /*background: url('https://dl.dropboxusercontent.com/u/50943129/codepen/10_Extra%20Photo%202.jpg') no-repeat center center fixed;
  background-position: 0px 50px;*/
  @include parallax;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/f2/9f/c0/f29fc0daafd3d930c97771ad5683ef8b.jpg')
}

#gigs {
  background: url('https://dl.dropboxusercontent.com/u/50943129/SAN-FRAN-BLACK-AND-WHITE.jpg') no-repeat center center fixed;
  @include parallax;
  height: 800px; /* overwrites the default parallax height */
}

#discography-layover {
  background: url('https://dl.dropboxusercontent.com/u/50943129/codepen/Arctic-Monkeys-2009-Humbug-Shot-Wallpaper-679x452.jpg') no-repeat center center fixed;
  @include parallax;
  height: 400px;
}


/* Custom styles */
h1, h2, h3, .navbar {
  font-family: 'Montserrat', sans-serif;
}
#discography {
  /*background-color: #333;*/
  color: #ffffff;
}
#discography .featurette-divider {
  color: #fff;
}
#gigs .panel {
  opacity: 0.8;
}
.pad-md {
  padding: 50px 0;
}
#gigs h2 {
  color: #fff;
}





html {
  height: 100%;
  background-color: #222;

  background-image:
    /*stalk*/
    linear-gradient(
      180deg,
      transparent,
      hsla(30,10%,70%,1) 0
      ),
    /*dome top left*/
    linear-gradient(
      -45deg,
      hsla(30,10%,70%,1) 40%,
      transparent 0
      ),
    /*dome top right*/
    linear-gradient(
      45deg,
      hsla(30,10%,70%,1) 40%,
      transparent 0
      ),
    /*dome ledge top left*/
    linear-gradient(
      45deg,
      transparent 40%,
      hsla(30,10%,70%,1) 0
      ),
    /*dome ledge top right*/
    linear-gradient(
      -45deg,
      transparent 40%,
      hsla(30,10%,70%,1) 0
      ),
    /*dome stalk*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*dome slope bottom left*/
    linear-gradient(
      45deg,
      transparent 40%,
      hsla(30,10%,70%,1) 0
      ),
    /*dome slope bottom right*/
    linear-gradient(
      -45deg,
      transparent 40%,
      hsla(30,10%,70%,1) 0
      ),
    /*dome ledge secondary left*/
    linear-gradient(
      45deg,
      transparent 40%,
      hsla(30,10%,70%,1) 0
      ),
    /*dome ledge secondary right*/
    linear-gradient(
      -45deg,
      transparent 40%,
      hsla(30,10%,70%,1) 0
      ),
    /*steam box first*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*steam box second*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*steam pipe hor*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*steam pipe connector*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*steam pipe ver*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*steam pipe connector second*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*dome spire*/
    linear-gradient(
      hsla(30,10%,70%,1),
      hsla(30,10%,70%,1)
      ),
    /*masser*
    radial-gradient(
      circle,
      white 40%,
      transparent 0
      ),
    /*secunda*
    radial-gradient(
      circle,
      white 40%,
      transparent 0
      ),*/
    /*weather*/
    linear-gradient(
      180deg,
      hsla(10,60%,40%,1),
      hsla(10,60%,40%,1),
      hsla(200,30%,100%,1),
      hsla(200,30%,50%,1),
      hsla(200,50%,70%,1),
      hsla(250,40%,40%,1),
      hsla(250,20%,50%,1),
      hsla(290,0%,30%,1),
      hsla(10,60%,40%,1)
      );

  background-position:
    /*stalk*/
    50% 100%,
    /*dome top left*/
    calc(50% - 15px) calc(100% - 145px),
    /*dome top right*/
    calc(50% + 15px) calc(100% - 145px),
    /*dome ledge top left*/
    calc(50% - 20px) calc(100% - 140px),
    /*dome ledge top right*/
    calc(50% + 20px) calc(100% - 140px),
    /*dome stalk*/
    50% calc(100% - 135px),
    /*dome slope bottom right*/
    calc(50% - 15px) calc(100% - 130px),
    /*dome slope bottom right*/
    calc(50% + 15px) calc(100% - 130px),
    /*dome ledge secondary left*/
    calc(50% - 10px) calc(100% - 120px),
    /*dome ledge secondary right*/
    calc(50% + 10px) calc(100% - 120px),
    /*steam box first*/
    50% calc(100% - 70px),
    /*steam box second*/
    calc(50% + 5px) calc(100% - 75px),
    /*steam pipe hor*/
    calc(50% + 20px) calc(100% - 80px),
    /*steam pipe connector first*/
    calc(50% + 25px) calc(100% - 79px),
    /*steam pipe ver*/
    calc(50% + 35px) calc(100% - 53px),
    /*steam pipe connector second*/
    calc(50% + 35px) calc(100% - 70px),
    /*dome spire*/
    50% 100%,
    /*masser*
    70% 20%,
    /*secunda*
    60% 50%,*/
    /*weather*/
    0 0;

  background-size:
    /*stalk*/
    15px 161px,
    /*dome top left*/
    30px 20px,
    /*dome top right*/
    30px 20px,
    /*dome ledge top left*/
    30px 5px,
    /*dome ledge top right*/
    30px 5px,
    /*dome stalk*/
    40px 5px,
    /*dome slope bottom left*/
    30px 5px,
    /*dome slope bottom right*/
    30px 5px,
    /*dome ledge secondary left*/
    30px 5px,
    /*dome ledge secondary right*/
    30px 5px,
    /*steam box first*/
    25px 30px,
    /*steam box second*/
    25px 20px,
    /*steam pipe hor*/
    30px 5px,
    /*steam pipe connector*/
    3px 7px,
    /*steam pipe ver*/
    5px 30px,
    /*steam pipe connector second*/
    7px 3px,
    /*dome spire*/
    2px 185px,
    /*masser*
    250px 250px,
    /*secunda*
    150px 150px,*/
    /*weather*/
    100% 1500%;

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    /*no-repeat,
    no-repeat,*/
    repeat-y;

  animation: weather 840s linear infinite;
  }

  html:after, html:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    /*-webkit-filter: blur(1px)*/
    }
    html:before {
      height: 150px;
      width: 150px;
      box-shadow: inset 20px -20px 50px hsla(295,20%,70%,.5);
      top: 20%;
      left: 60%;
      }
    html:after {
      height: 100px;
      width: 100px;
      box-shadow: inset 30px -30px 50px hsla(230,20%,60%,.5);
      top: 40%;
      left: 50%;
      }

@keyframes weather {
  to {
  background-position:
    /*stalk*/
    50% 100%,
    /*dome top left*/
    calc(50% - 15px) calc(100% - 145px),
    /*dome top right*/
    calc(50% + 15px) calc(100% - 145px),
    /*dome ledge top left*/
    calc(50% - 20px) calc(100% - 140px),
    /*dome ledge top right*/
    calc(50% + 20px) calc(100% - 140px),
    /*dome stalk*/
    50% calc(100% - 135px),
    /*dome slope bottom right*/
    calc(50% - 15px) calc(100% - 130px),
    /*dome slope bottom right*/
    calc(50% + 15px) calc(100% - 130px),
    /*dome ledge secondary left*/
    calc(50% - 10px) calc(100% - 120px),
    /*dome ledge secondary right*/
    calc(50% + 10px) calc(100% - 120px),
    /*steam box first*/
    50% calc(100% - 70px),
    /*steam box second*/
    calc(50% + 5px) calc(100% - 75px),
    /*steam pipe hor*/
    calc(50% + 20px) calc(100% - 80px),
    /*steam pipe connector first*/
    calc(50% + 25px) calc(100% - 79px),
    /*steam pipe ver*/
    calc(50% + 35px) calc(100% - 53px),
    /*steam pipe connector second*/
    calc(50% + 35px) calc(100% - 70px),
    /*dome spire*/
    50% 100%,
    /*masser*
    70% 20%,
    /*secunda*
    60% 50%,*/
    /*weather*/
    0 1500%;
    }
  }


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
footer{
	background-color: #222;
  color: white;
	text-align: center;
  padding: 1em;
  font-size: 16px;
  /*This makes footer to always stay at the end*/
  /*position: absolute;*/
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
